*.class

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.vscode/

bin/
out/
classes/
*.jar
*.war
*.ear

*.db
*.sqlite
*.sqlite3
*.db3

.env
.env.*
*.env